
#View_Highscore {
    float: left;
    color: rgb(118, 66, 166);
}

#Time {
    float: right ;
}
 
.center { 
    margin: auto;
    width: 20%
}

.button {
    margin: 2px;
    color: white;
    background-color: rgb(118, 66, 166);
    border-radius: 5px; 
    
}